<!DOCTYPE html>
<html>
<head>
  <title>Products</title>
  <link rel="stylesheet"
  href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>

<body>

  <div class="container mt-4">
  <div class="d-flex justify-content-between mb-3">
    <h2>Danh sách sản phẩm</h2>
       
      <form method="GET" action="/products" class="mb-3">

            <div class="input-group">

     <input  type="text"  name="search"  class="form-control"  placeholder="Tìm theo tên sản phẩm"  value="<%= search || '' %>">

      <div class="input-group-append">
      <button class="btn btn-primary">Search</button>
      </div>

      </div>

      </form>

  
</div>
<a href="/products/add" class="btn btn-success mb-5">
    Thêm sản phẩm
  </a>

<div class="row">

<% if(products.length){ %>

  <% products.forEach(product => { %>

  <div class="col-md-3">

    <div class="card mb-3">

      <img src="<%= product.image %>" class="card-img-top mt-3">

      <div class="card-body">

        <h5><%= product.name %></h5>

       <p><strong>ID:</strong> <%= product.id %></p>
      <p><strong>Giá:</strong> <%= product.price %></p>
        <p><strong>Số lượng:</strong> <%= product.quantity %></p>

        <a href="/products/<%= product.id %>" class="btn btn-primary btn-sm">
          Sửa
        </a>

        <form action="/products/delete/<%= product.id %>" method="POST" style="display:inline">
          <button class="btn btn-danger btn-sm"
                  onclick="return confirm('Bạn có chắc muốn xóa sản phẩm này không?')">
            Xóa
          </button>
        </form>

      </div>

    </div>

  </div>

  <% }) %>

    <% } else { %>

      <p>không tìm thấy sản phẩm</p>

    <% } %>

</div>
</div>

</body>
      
</html>